@model IEnumerable<Mango.Web.Models.Dto.ProductDto>
<form>
    <div class="container row">
        @foreach (var product in Model)
        {
            <div class="col-4 ">
                <div class="p-0 my-3 border">
                    <div class="card" style="height: 500px;">
                        @*<img src="@product.ImageUrl" class="card-img-top">*@
                        <img src="~/Pics/@product.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text" style="height: 190px;">@Html.Raw(@product.Description)</p>
                            <div class="row">
                                <div class="col pt-1">
                                    <span style="font-size:23px;">@string.Format("{0:c}", @product.Price)</span>
                                </div>
                                <div class="col">
                                    <a asp-action="Details" asp-route-productId="@product.ProductId" class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
